/* If you need to add @import statements, do so up here */
@import "tablet-gothic.css";
@import "tablet-gothic-bold.css";
@import "tablet-gothic-extrabold.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono')
@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral: #F4F3EF;
  --pink: #F9E5E5;
  --yellow: #F6E548;
  --red: #EA5C42;
  --body-background: white;
  --body-color: black;
  --heading-color: black;
  --action-color: var(--red);
}

body {
  background: var(--body-background);
  color: var(--body-color);
  margin: 0 8px;
  font-family: "Tablet Gothic", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: #ffb088;
}

h1 {
  margin: 1rem 0;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  margin: 0.75rem 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
}

body > header {
  text-align: left;
  max-width: 65rem;
}

body > header img {
  display: inline-block;
}

body > nav {
  margin: 0 auto 0;
  max-width: 65rem;
}

body > nav ul {
  margin:0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: left;
  font-size: 0.75rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

main {
  margin: 2rem auto 4rem;
  max-width: 65rem;
  min-height: calc(100vh - 200px);
  background: white;
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }

}

p {
  margin-bottom: 2rem;
}
footer {
  margin: 2rem auto;
  max-width: 65rem;
  font-size: 1em;
}

hr {
  border-top: 1px solid var(--neutral);
  margin: 3rem 0;
}
