<div class="bg-neutral">
  <footer class="py-4 my-0">
    <p class="py-4 my-0">
      This project is maintained by <a href="https://www.beflagrant.com">FLAGRANT®</a> and inspired by <a href="https://18f.gsa.gov/">18F</a>.
      <br />
      Have questions or would like to contact us? Email us at <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a>
    </p>
  </footer>
</div>

<div class="bg-black">
  <footer class="py-8 my-0 text-white">
    &copy; FLAGRANT® 2022
  </footer>
</div>